    /* Core styles */

    body {
        margin: 0px;
        font-family: sans-serif;
    }

    .container {
        width: 1140px;
        margin: 0px auto;
    }

    .to-uppercase {
        text-transform: uppercase;
    }

    .clearfix {
        clear: both;
    }

    .section-subtitle {
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #797979;
        text-transform: uppercase;
    }

    .button {
        border: none;
        background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
        background-size: 200% auto;
        color: white;
        font-weight: 500;
        font-size: 14px;
        padding: 20px 40px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 40px;
    }

    .button:hover {
        background-position: right center;
    }

    .blur-line {
        display: inline-block;
        position: relative;
        top: -2px;
        margin-left: 5px;
        width: 80px;
        height: 4px;
        background-color: rgba(237, 35, 159, 0.6);
        filter: blur(4px);
        border-radius: 4px;
    }

    .section-title {
        margin-top: 5px;
        font-size: 42px;
        font-weight: 700;
        text-transform: capitalize;
        color: #05364d;
    }

    /* main header styles */

    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 0.5px 16px 0px rgb(0, 0, 0);
        z-index: 10;
    }

    .main-header__brand {
        display: inline-block;
        vertical-align: middle;
    }

    .main-header__brand img {
        width: 64px;
    }

    .main-navigation {
        display: inline-block;
        vertical-align: middle;
    }

    .main-navigation__item {
        display: inline-block;
        padding: 10px;
    }

    .main-navigation__item a {
        color: #05364d;
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }

    .main-navigation__item a:hover {
        color: #efb6df;
    }

    .main-navigation__item.active a {
        color: #efb6df;
    }

    /* main section */

    .main-banner {
        background: url(./images/main-banner.png);
        background-position: center;
        background-size: cover;
        min-height: 890px;
    }

    .main-section {
        padding: 100px 30px;
    }

    .main-section>div {
        float: left;
        width: 50%;
    }

    .main-section__image {
        text-align: right;
    }

    .main-section__welcome {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        letter-spacing: 2px;
        color: #707979;
    }

    .main-section__introduction {
        margin-top: 20px;
        font-size: 60px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #05364D;
    }

    .main-section__position {
        color: #05364d;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .main-section__action {
        margin-top: 30px;
    }

    /* Statistics section */
    .Statistics {
        padding-top: 100px;
    }

    .Statistics__item {
        width: 150px;
        display: inline-block;
        background-color: #f8faff;
        text-align: center;
        padding: 5px 10px;
        margin-right: 20px;

    }

    .Statistics__number {
        font-size: 27px;
        margin-bottom: 5px;
        background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .Statistics__title {
        font-size: 16px;
        color: #797979;
        font-weight: 300;
    }

    .main-section__social-networks a {
        color: #8fa1aa;
        font-size: 20px;
        display: inline-block;
        margin-right: 16px;
        cursor: pointer;
    }

    .main-section__social-networks a:hover {
        color: blue;
    }

    /* ABOUT ME */

    .about-me {
        padding: 100px 0px;
    }

    .about-me>div {
        width: 50%;
        float: left;
    }

    .about-me__image img {
        width: 80%;
    }

    /* services section styles */

    .services {
        padding: 100px 0px;
    }

    .service-card {
        display: inline-block;
        width: 30%;
        background-color: #f8faff;
        margin-right: 3%;
        padding: 30px 60px;
        box-sizing: border-box;
        text-align: center;
    }

    .service-card img {
        border-radius: 50%;
    }

    .service-card:hover {
        background-color: #6030ff7c;
    }

    .service-card:hover.service-card__title,
    .service-card:hover.service-card__description,
    .service-card:hover.service-card__link {
        color: white;
    }

    .service-card__title {
        color: #05364D;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .service-card__description {
        font-size: 14px;
        line-height: 27px;
        font-weight: 300;
        color: #797979;
    }

    .service-card__link {
        font-size: 13px;
        font-weight: 500;
        color: #05364D;
        text-transform: uppercase;
        text-decoration: none;
    }


    /* Clients section styles */

    .clients {
        padding-top: 100px;
    }

    .client-item>div {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    .client-item__image img {
        width: 100%;
    }

    .client-item__info {
        padding-top: 50px;
        padding-left: 50px;
    }

    .client-item__name {
        font-size: 20px;
        margin-bottom: 4px;

    }

    .client-item__position {
        font-size: 14px;
        font-weight: 300;
        color: #5b6d75;
    }

    .client-item__rewiev {
        font-size: 14px;
        line-height: 27px;
        font-weight: 300;
        color: #5b6d75;
    }

    .client-item__rate {
        color: #ffd804;
    }

    /* portfolio section */

    .portfolio {
        padding-top: 100px;
    }

    .portfolio-filters {
        list-style-type: none;
        margin-top: 50px;
    }

    .portfolio-filters li {
        display: inline-block;
        padding-left: 0px;
        margin-right: 40px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
    }

    /* {
    color: #1345e6;
} */
    .portfolio-filters li:hover,
    .portfolio-filters li.active {
        color: #1344e6;
    }

    .portfolio-items {
        margin-top: 50px;
        position: relative;
        width: 100%;
    }

    .portfolio-item {
        position: relative;
        display: inline-block;
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
    }

    .portfolio-item-2 {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .portfolio-item-3 {
        position: absolute;
        top: 322px;
        right: 0px;
    }

    .portfolio-item__image {
        width: 100%;
    }

    .portfolio-item__overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(19, 68, 230, 0.578);
        visibility: hidden;
        cursor: pointer;
        z-index: 1;
    }

    .portfolio-item__info {
        position: absolute;
        left: 80px;
        bottom: 44px;
        color: white;
        visibility: hidden;
        z-index: 1
    }

    .portfolio-item__info a {
        color: white;
        text-decoration: none;
    }

    .portfolio-item:hover .portfolio-item__overlay {
        visibility: visible;
        top: 20px;
        left: 20px;
    }

    .portfolio-item:hover .portfolio-item__info {
        visibility: visible;
    }