
@media only screen and (max-width:376px) {
    .container {
        width: 100%;
        height: 5000px;
        border: red solid 1.5px;
        background-color: #C2EFD4;
        position: relative;
        overflow-x: scroll;
    }

    .container .section1 .navbar {
        width: 100%;
        height: 15vh;
        color: #224F34;
        font-family: sans-serif;

    }

    .container .section1 .navbar h1 {
        font-weight: 600;
        transform: translate(20px, 0px);
        color: #267144;
        font-family: Montserrat;
    }

    .container .section1 .navbar button {
        width: 60px;
        height: 40px;
        color: #224F34;
        border: #224F34 solid 3px;
        border-radius: 6px;
        transform: translate(-20px, -10px);
        font-size: 15px;
    }

    .container .section1 .navbar button:hover {
        width: 60px;
        height: 40px;
        color: #224F34;
        border: #224F34 solid 3px;
        border-radius: 6px;
        transform: translate(-20px, -10px);
        font-size: 15px;
    }

    .container .section1 .navbar i {
        transform: translate(0px, 0px);
        position: relative;
        right: -55px;
        top: 0px;
        font-size: 30px;
    }

    .container .section1 {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    .container .section1 .wrapper {
        width: 100%;
        height: 0px;
        height: 650px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 35px;
        transform: translate(0px, 0px);
    }

    .container .section1 .wrapper .main-section {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 {
        width: 100%;
        height: 15vh;
        margin: 60px 0px 0px 0px;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 h1 {
        font-size: 35px;
        font-family: normal;
        color: #224F34;
    }

    .container .section1 .wrapper .main-section .wrapper-p {
        width: 90%;
        height: 15vh;
        transform: translate(0px, 0px);
        margin: 30px 0px 0px 0px;
        font-family: Poppins;
        color: #157a1a;
        line-height: 35px;
        font-size: 15px;
    }

    .container .section1 .wrapper .main-section button {
        transform: translate(0px, 0px);
        margin-top: 80px;
        background-color: #224F34;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        width: 200px;
        height: 50px;
    }

    .container .section1 .wrapper .girl {
        width: 100%;
        height: 75vh;
        margin-top: 150px;
    }

    .container .section1 .wrapper img {
        width: 80%;
        height: 70vh;
        border-radius: 20px 10px;
        box-shadow: none;
    }

    .container .section2 {
        width: 100%;
        height: 1600px;
        margin: 0px;
        padding: 0;
    }

    .container .section2 h1 {
        font-size: 35px;
        font-family: "Roboto Slab", sans-serif;
    }

    .container .section2 h3 {
        box-shadow: none;
        color: #194b2d;
        font-size: 17px;
        font-weight: 100;
        font-family: Poppins;
        margin-top: 30px;
    }

    .container .section2 card-wrapper {
        width: 100%;
        height: 1200px !important;
        background-image: none;
        margin: 30px;
    }

    .container .section2 card-wrapper .card123 {
        border-radius: 0px;
        width: 250px;
        height: 410px;
        margin: 0px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #93B9A2;
    }

    .container .section2 card-wrapper .card3 {
        background-color: #CADCD0;
    }

    .container .section2 card-wrapper .card123 .summa {
        margin: 0;
        font-family: Poppins;
        font-size: 16px;
    }

    .container .section2 card-wrapper .card123 .Textured {
        border-radius: 0px;
        box-shadow: none;
        color: black;
        font-size: 16px;
        margin: 0;
        font-family: Poppins;
    }

    .container button {
        width: 200px;
        height: 50px;
        border: solid 2px #224F34;
        border-radius: 0px !important;
        background-color: transparent;
        font-family: "Montserrat"sans-serif;
        text-shadow: none !important;
        font-size: 25px;
        margin-top: 80px !important;
    }

    .container .section2 card-wrapper .card123 img {
        border-radius: 0px;
        width: 250px;
        height: 300px;
    }

    .container .section3 {
        width: 100%;
        height: 2950px;
    }

    .container .section3 .card-wrapper {
        width: 100%;
        height: 800px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .container .section3 card-wrapper .Textured {
        margin: 0;
        font-size: 15px;
    }

    .container .section3 card-wrapper .summa {
        margin: 0;
    }

    .container .section3 card-wrapper .card1234 {
        width: 45%;
        height: 300px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .container .section3 .card-wrapper .Textured {
        margin: 0;
        font-size: 15px;
    }

    .container .section3 .card-wrapper .summa {
        margin: 0;
    }

    .container .section3 .card-wrapper .card1234 {
        width: 45%;
        height: 300px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container .section3 h1 {
        color: #194b2d;
    }

    .container .section3 .assistant4 {
        display: inline-block;
        background-image: none;
    }

    .container .section3 .assistant4 ul {
        width: 100%;
        padding: 0px 5px;
        display: flex;
        margin: 0;
        transform: translate(0px, 0px);
        color: #194b2d;
        list-style-type: none;
        margin-top: 70px;
    }

    .container .section3 .assistant4 ul li {
        margin: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    .container .section3 .big-card {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        background-image: none;
        justify-content: space-around;

    }

    .container .section3 .big-card .right-block {
        width: 100%;
        height: 450px;
        background-image: none;
        position: relative;
        top: 0px;
        color: #194b2d;
    }

    .container .section3 .big-card .right-block h1 {
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    .container .section3 .big-card .right-block button {
        margin: 0;
        transform: translate(90px, -55px);
    }

    .container .section3 .big-card .right-block .wrapper-p-text {
        width: 100%;
        height: 200px;
        margin: 0;
        text-align: center;
        padding: 0px 30px;
    }

    .container .section3 .big-card .right-block .wrapper-p-text p {
        font-size: 22px;
        line-height: 40px;
    }

    .container .section3 .big-card .right-block .wrapper-card-time {
        width: 100%;
        transform: rotate(0deg);
        transform: translate(-120px, 0px);
        margin: 0;
    }

    .container .section3 .big-card .right-block .wrapper-card-time .card {
        transform: rotate(0deg);
    }

    .container .section3 .big-card img {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0px;
    }

    .container .section4 {
        width: 100%;
        height: 1400px;
        padding: 0px;
        margin: 0;
    }

    .container .section4 h1 {
        box-shadow: 2px 2px 10px;
        text-align: center;
        border-radius: 0px 70px 0px 70px;
    }

    .container .section4 .immerse {
        display: none;
    }

    .container .section4 .card-wrappers4 {
        width: 100%;
        height: 1200px;
        padding: 0;
        padding: 0;
    }

    .container .section4 .card-wrappers4 .card123 {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .container .section4 .card-wrappers4 .card123 img {
        width: 50%;
        height: 300px;
        border-radius: 5px;
    }

    .container .section4 .card-wrappers4 .card123 .assistant span {
        display: none;
    }

    .container .section5 {
        width: 100%;
        height: 800px;
    }

    .container .section5 .sec5-h1 {
        margin: 100px 0px 0px 0px;
        color: black;
        font-size: 45px;
    }

    .container .section5 .wrapper-text-bloock {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: start;
    }

    .container .section5 .wrapper-text-bloock .block2 {
        margin-left: 75px;
    }

    .container .section5 .wrapper-text-bloock .text-block {
        width: 80%;
        height: 150px;
        text-align: center;
        display: inline-block;
        padding: 0;
    }

    .container .section5 .wrapper-text-bloock .text-block h1 {
        margin: 0px;

    }

    .container footer {
        width: 100%;
        height: 350px;
        margin: 100px 0px 0px 0px;
    }

    .container footer .wrapper {
        width: 100%;
        height: 350px;
    }

    .container footer .wrapper .wrap123block {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 50px;
    }

    .container footer .wrapper .wrap123block .assistant {
        width: 30%;
        margin: 0;
    }

    .container footer .block4 {
        display: none;
    }

    .container footer .block5 hr {
        width: 325px;
    }
}